* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}


body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav button {
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
}

.lang-button {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}

.lang-button img {
    width: 10px;
    margin-left: 10px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}




.hero-text h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    max-width: 700px;
}

section h1+p {
    font-weight: 400;
    margin-bottom: 20px;
}

.email-signup {
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
    flex-shrink: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


.email-signup input {
    flex: 1;
    border: 0px;
    outline: 0px;
    padding-left: 20px;
}

.email-signup button {
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
}

/*features*/
.feature {
    padding: 50px 12%;
    font-size: 22px;
}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col img {
    display: block;
    width: 100%;
    margin: auto;
}

.feature h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;

}

/* faq*/
.faq {
    padding: 20px 12%;
    text-align: center;
    font-size: 18px;
}

.faq h2 {
    font-weight: 500;
    font-size: 40px;
}

.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 500;
    background-color: #303030;
    margin-bottom: 1px;
    cursor: pointer;
    position: relative;

}

.accordion label::after {
    content: '+';
    font-size: 40px;
    position: absolute;
    right: 20px;
    transition: transform 1s;
}


input[type="radio"] {
    display: none;
}

.accordion .content {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.7s;
}


.accordion input[type="radio"]:checked+label+.content {
    max-height: 600px;
    padding: 30px 20px;
}

.accordion input[type="radio"]:checked+label::after {
    transform: rotate(135deg);

}

.faq .email-signup {
    margin: 20px AUTO 20px;
}

.faq strong {
    font-size: 15px;
}

/* Footer*/

.Footer {
    padding: 50px 18% 50px;
    border-top: 5px solid #333;
    color: #777;
}

.Footer h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.Footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.col li a {
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
    margin-right: 50px;
}

.col li {
    list-style-type: none;
}

.Footer .row {
    align-items: flex-start;
    padding: 10px 0;
}

.Footer .lang-button {
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}

.copyright-txt {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}


@media (max-width: 600px) {
    .hero-text h1 {
        font-size: 30px;
        line-height: 40px;
    }


     nav {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  nav .logo {
    width: 120px; /* Slightly smaller logo */
  }

  nav section {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

    .email-signup {
        flex-direction: row;
        max-width: 100%;
    }

    .email-signup input {
        padding: 10px;
        font-size: 16px;
    }

    .email-signup button {
        width: 100%;
        padding: 10px;
        font-size: 16px;
    }
}
